
# PlanAhead Generated physical constraints 

NET "Guess[8]" LOC = P82;
NET "Guess[7]" LOC = P85;
NET "Guess[6]" LOC = P88;
NET "Guess[5]" LOC = P90;
NET "Guess[4]" LOC = P94;
NET "Guess[3]" LOC = P4;
NET "Guess[2]" LOC = P5;
NET "Guess[1]" LOC = P12;
NET "Guess[0]" LOC = P15;
NET "Leds[9]" LOC = P77;
NET "Leds[8]" LOC = P83;
NET "Leds[7]" LOC = P84;
NET "Leds[6]" LOC = P86;
NET "Leds[5]" LOC = P89;
NET "Leds[4]" LOC = P93;
NET "Leds[3]" LOC = P3;
NET "Leds[2]" LOC = P6;
NET "Leds[1]" LOC = P13;
NET "Leds[0]" LOC = P16;
NET "Sevseg_Control[7]" LOC = P61;
NET "Sevseg_Control[6]" LOC = P60;
NET "Sevseg_Control[5]" LOC = P57;
NET "Sevseg_Control[4]" LOC = P59;
NET "Sevseg_Control[3]" LOC = P56;
NET "Sevseg_Control[2]" LOC = P52;
NET "Sevseg_Control[1]" LOC = P49;
NET "Sevseg_Control[0]" LOC = P50;
NET "Sevseg_digit[6]" LOC = P71;
NET "Sevseg_digit[5]" LOC = P62;
NET "Sevseg_digit[4]" LOC = P65;
NET "Sevseg_digit[3]" LOC = P72;
NET "Sevseg_digit[2]" LOC = P73;
NET "Sevseg_digit[1]" LOC = P98;
NET "Sevseg_digit[0]" LOC = P64;
NET "CLK" LOC = P40;
NET "Enable" LOC = P34;
NET "Reset" LOC = P35;
NET "enter" LOC  = P33;
NET "Power" LOC = P78;
